<template>
  <div class="home">
    <Navbar />
    <News />
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import News from '@/components/News.vue';
import Navbar from '@/components/Navbar.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'home',
  components: {
    Navbar,
    News,
    Footer
  }
};
</script>

<style scoped>
@media screen and (max-width: 600px) {
  .v-footer {
    display: none;
  }
}
</style>
