<template>
  <v-footer color="brown lighten-5" padless>
    <v-layout justify-left wrap>
      <v-btn
        v-for="item in menuItems"
        :key="item.title"
        color="teal lighten-1"
        text
        class="my-2"
        >{{ item.title }}</v-btn
      >
    </v-layout>
    <div class="copyright">Copyright &copy; AMPOS</div>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    menuItems: [
      { title: 'News', path: '/home', icon: 'home' },
      { title: 'Regions', path: '/', icon: 'face' },
      { title: 'Video', path: '/', icon: 'lock_open' },
      { title: 'TV', path: '/', icon: 'lock_open' }
    ]
  })
};
</script>

<style scoped>
.v-application .my-2 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.layout {
  padding-left: 36px;
}
.copyright {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 20px;
}
</style>
