<template>
  <div class="navbar">
    <div class="main-navbar">
      <img class="logo ml-20 mr-40" alt="logo" src="../assets/img/logo.png" />
      <h2 class="mobile-title">Home</h2>
      <div class="mobile-menu-toggle">
        <a href="javascript:void(0);" class="icon" v-on:click="onChange()">
          <font-awesome-icon icon="bars" />
        </a>
      </div>
      <div class="topnav" id="myTopnav" ref="myTopnav">
        <a v-for="item in menuItems" :key="item.title" href="#">{{
          item.title
        }}</a>
      </div>
    </div>
    <div class="searchbar">
      <v-text-field
        placeholder="Search"
        rounded
        v-model="searchText"
        class="search-box"
        prepend-inner-icon="search"
        @keypress="runSearchByKey($event)"
      ></v-text-field>
    </div>
  </div>
</template>

<script>
import EventBus from '../plugins/EventBus';

export default {
  name: 'navbar',
  data() {
    return {
      menuItems: [
        { title: 'News', path: '/home', icon: 'home' },
        { title: 'Regions', path: '/', icon: 'face' },
        { title: 'Video', path: '/', icon: 'lock_open' },
        { title: 'TV', path: '/', icon: 'lock_open' }
      ],
      searchText: ''
    };
  },
  methods: {
    onChange() {
      let x = this.$refs.myTopnav;
      if (x.className === 'topnav') {
        x.className += ' responsive';
        x.style.display = 'block';
      } else {
        x.className = 'topnav';
        x.style.display = 'none';
      }
    },
    runSearchByKey($event) {
      if ($event.keyCode === 13) {
        EventBus.$emit('search', this.searchText);
        return false;
      }
    },
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.logo {
  float: left;
  height: 120px;
}
.topnav {
  background-color: #20b2aa;
  overflow: hidden;
  width: 100%;
  height: 50px;
  margin: auto;
}
.v-input {
  padding-top: 8px;
  margin-top: 0px;
}
.v-input__slot {
  padding-left: 15px !important;
}

.topnav {
  width: 560px;
  margin-top: 35px;
  float: left;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 140px;
  border-right: 1px solid #1d9c95;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.topnav .icon {
  display: none;
}

.mobile-title,
.mobile-menu-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    color: #fff;
  }
  .topnav a {
    border: none;
  }
  .v-text-field {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav {
    display: none;
    margin-top: 0 !important;
    width: 100%;
  }
  .topnav .icon {
    display: none;
  }
  .topnav.responsive {
    position: relative;
    height: auto;
    margin-top: 35px;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive a:nth-child(n + 1):not(:nth-child(n + 5)) {
    width: 100%;
  }
  .v-text-field {
    display: block;
  }
  .searchbar {
    background-color: #e0e0e0 !important;
    margin-top: 0px !important;
    width: 100% !important;
    float: none;
  }
  .search-box {
    background-color: #fff !important;
  }
  .logo {
    float: left;
    height: 42px;
    margin: 0;
    margin-left: 18px;
    margin-top: 4px;
  }
  .main-navbar {
    background-color: #20b2aa;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .mobile-title,
  .mobile-menu-toggle {
    display: block;
  }
  .mobile-title {
    float: left;
    width: calc(100% - 140px);
    text-align: center;
    color: #fff;
    font-size: 20px;
  }
  .mobile-menu-toggle {
    width: 50px;
    height: 50px;
    float: right;
  }
  .mobile-menu-toggle svg {
    color: #fff;
  }
}

.navbar::after {
  clear: both;
  content: "";
  display: table;
}

.searchbar {
  background-color: #1d9c95;
  height: 50px;
  line-height: 50px;
  margin-top: 35px;
  float: left;
  width: calc(100% - 120px - 650px);
  padding: 8px 10px;
}
.search-box {
  padding-top: 1px;
  background-color: #20b2aa;
  height: 100%;
  border-radius: 10px;
}
.search-box .v-icon {
  color: #fff !important;
}
</style>
