<template>
  <div class="news">
    <v-container grid-list-md text-center>
      <v-layout wrap>
        <v-flex v-for="(item, i) in newsData" :key="i" md4 class="news-card">
          <v-card color="grey lighten-5">
            <v-card-title>{{ item.title }}</v-card-title>
            <v-img
              class="news-image"
              src="https://cdn.vuetifyjs.com/images/cards/mountain.jpg"
            ></v-img>
            <v-card-text class="content" color="black">
              {{ item.content }}
            </v-card-text>
            <v-card-text class="update-date" color="black">
              {{ item.updatedAt }}
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12>
          <v-card color="grey lighten-5" class="mx-auto">
            <v-card-actions class="justify-center">
              <v-btn
                text
                color="deep-purple accent-4"
                style="width: 100%"
                v-on:click="loadMore()"
                >Load More</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import EventBus from '../plugins/EventBus';
import Repository from '../services/Repository';

export default {
  name: 'news',
  data() {
    return {
      newsData: [],
      count: 9,
      idx: 1
    };
  },
  created() {
    this.fetchData();
    EventBus.$on('search', this.handlerSearch);
  },
  destroyed() {
    EventBus.$off('search', this.handlerSearch);
  },
  watch: {
    $route: 'fetchData'
  },
  methods: {
    fetchData(index = this.idx, number = this.count) {
      Repository.get(`/news?index=${index}&count=${number}`).then(response => {
        response.data.forEach(e => {
          e.updatedAt = `Updated: ${this.getTime(e.updatedAt)}`;
          this.newsData.push(e);
        });
      });
    },
    loadMore() {
      this.idx += 1;
      this.fetchData(this.idx, this.count);
    },
    getTime(timestamp) {
      let a = new Date(timestamp * 1000);
      let months = [
        'Jan',
        'Feb',
        'Mar',
        'Apr',
        'May',
        'Jun',
        'July',
        'Aug',
        'Sep',
        'Oct',
        'Nov',
        'Dec'
      ];
      let year = a.getFullYear();
      let month = months[a.getMonth()];
      let date = a.getDate();
      let hour = a.getHours();
      let min = a.getMinutes();
      let time = date + ' ' + month + ', ' + year + ' ' + hour + ':' + min;
      return time;
    },
    handlerSearch(e) {
      if (e === '') return this.fetchData(this.idx, this.count);
      Repository.get(`/news?content=${e}`).then(response => {
        response.data.forEach(e => {
          e.updatedAt = `Updated: ${this.getTime(e.updatedAt)}`;
        });
        this.newsData = response.data;
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.news-card {
  margin-bottom: 5px;
  padding: 20px !important;
}
.v-card__title {
  padding: 20px 20px 10px !important;
  color: #20b2aa;
  font-weight: bold;
}
.news-image {
  margin: 10px;
}
.v-card__text.content {
  padding: 0px 10px 10px !important;
  height: 200px;
  text-align: left;
  overflow: auto;
}
.v-card__text.update-date {
  padding: 0px 10px 15px !important;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .v-card__title {
    width: calc(100% - 160px);
    padding: 0 !important;
    padding-left: 10px !important;
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    margin-left: 160px;
  }
  .v-image {
    width: 150px;
    float: left;
    position: absolute;
    margin: 0;
    margin-left: 10px;
    top: 8px;
  }
  .v-card__text.content {
    width: calc(100% - 160px);
    padding-left: 10px !important;
    margin-left: 160px;
  }
  .v-card__text.update-date {
    width: calc(100% - 160px);
    padding: 10px 0 !important;
    padding-left: 10px !important;
    margin-left: 160px;
    font-size: 13px;
    color: #b1b2b7 !important;
  }

}
</style>
