<template>
  <v-app class="grey lighten-4">
    <v-container style="max-width: 1200px;">
      <v-content transition="slide-x-transition">
        <router-view></router-view>
      </v-content>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: 'App'
};
</script>

<style>
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-40 {
  margin-left: 40px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-40 {
  margin-right: 40px;
}
</style>
